body {
  background-color: #AAAAAA;
}

.cancel_button {
  float: right;
}

.checkbox {
  position: relative;
}

.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
    left: 0;
  background: #eee;
  border:1px solid #ddd;
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.container {
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 2px #EEE;
  -moz-box-shadow: 0 0 4px 2px #EEE;
  box-shadow: 0 0 4px 2px #EEE;
}

h1 {
  padding: 10px;
}

.input-box {
  width: 60%;
  height: 35px;
  font-size: 20px;
}

#task-app {
  max-width: 400px;
}

#task-list {
  max-width: 400px;
  margin: auto;
}

.title {
  font-size: 16px;
  padding-left: 20px;
  padding-top: 5px;
}

/* Remove bullets */
ul {
  list-style: none;
}

.view {
  border-bottom: 1px solid;
  width: 80%; 
  margin: auto;
  margin-top: 15px;
}