body {
  padding-top: 60px; /* 60px to make the container make room for the navigation bar */
}

.cancel_button {
  float: right;
}

.checkbox {
  width: 25px;
  margin: 20px 100px;
  position: relative;
}

.checkbox label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
    left: 0;
  background: #eee;
  border:1px solid #ddd;
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}


#task-app {
  max-width: 400px;
}

#task-list {
  max-width: 400px;
  margin: auto;
}

/* Remove bullets */
ul {
  list-style: none;
}

.view {
  width: 80%; 
  margin:auto
}